body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  min-height: 100%;
  background-color: rgb(250, 252, 252);
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 17px;
}

h2 {
  font-weight: normal;
  font-size: 25px;
}

p {
  font-size: 20px;
}

ul {
  list-style-type: circle;
  font-size: 20px;
}

.header {
  font-weight: 500;
  font-size: 24px;
}
