/* Intro section styles */
.home-container {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-pic-container {
  margin-right: 3vw;
}
.profile-pic {
  height: 25vh;
  border-radius: 50%;
}

.header-name {
  margin: -1vh;
}
.tagline {
  margin: -1vh;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.about-header {
  margin-top: -1vh;
}
.about-pic-container {
  margin-left: 5vw;
  margin-right: 3vw;
}
.about-pic {
  height: 50vh;
}

@media only screen and (max-width: 640px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
