.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 252, 252);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navlink {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-bottom: 2px solid transparent; */
}
.navlink:hover {
  /* border-bottom: 2px solid rgb(250, 252, 252); */
  color: rgb(42, 82, 190);
  cursor: pointer;
}
.navlink.active {
  color: rgb(42, 82, 190);
  /* border-bottom: 2px solid rgb(250, 252, 252); */
}

.name {
  font-size: 25px;
}
.name:hover {
  /* border-bottom: 2px solid transparent; */
  color: rgb(42, 82, 190);
  cursor: pointer;
}
