.project {
  margin-left: 15vw;
  margin-right: 15vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.project-pic-container {
  margin-right: 3vw;
}

.project-pic-vertical {
  height: 40vh;
}
.project-pic-horizontal {
  width: 30vw;
}

.project-text-container {
  margin-left: 3vw;
  margin-top: -5vh;
}
