.work-container {
  padding-top: 3vh;
  /* padding-bottom: 8vh; */
}

.work-exp {
  margin-left: 15vw;
  margin-right: 15vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.work-exp-header {
  display: flex;
  flex-direction: row;
}

.work-exp-header-2 {
  display: flex;
  flex-direction: row;
}

.at {
  color: rgb(42, 82, 190);
  margin-left: 10px;
  margin-right: 10px;
}

.dates {
  font-size: 15px;
  margin-top: -20px;
}

.work-description {
  font-size: 18px;
  line-height: 1em;
}

@media only screen and (max-width: 640px) {
  .work-exp-header {
    display: flex;
    flex-direction: column;
  }

  .dates {
    font-size: 14px;
    margin-top: 5px;
  }

  .work-exp-line-2 {
    font-size: 18px;
  }

  .at {
    color: rgb(42, 82, 190);
    margin-left: 0px;
    margin-right: 8px;
  }

  .work-description {
    font-size: 16px;
    line-height: 1.5em;
  }

  li {
    font-size: 16px;
  }
}